/* Element Styles */
body {
    background-color: #ececec;
    color: #777;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 60px;
    background-color: white;
    border-bottom: 2px solid #ccc;
}

nav h1 {
    background-color: teal;
    color: white !important;
    font-family: 'Pacifico', cursive;
}

h2 {
    color: teal;
}

hr {
    height: 1px;
    background-color: #777;
}

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ccc;
    background-color: #777;
    border-top: solid 10px teal;
}

#content-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.profile-image {
    text-align: center;
}